<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
  <h2>Welcome Doctor</h2>
  <a href="/enternew"><button type="button" class="btn btn-primary btn-lg" >Add new Patient</button></a>
  <br><br>
  <a href="/faq"><button type="button" class="btn btn-primary btn-lg" >Add new questions</button></a>
  <br><br>
  <a href="/list"><button type="button" class="btn btn-primary btn-lg">Show all Records</button> </a>
  <br><br>   
  <a href="/findp"><button type="button" class="btn btn-primary btn-lg">Search specific Records</button></a>
  <br><br>
  <a href = "/logout"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
</div>

</body>
</html>